name: Preprocessing Data Automation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn


      - name: Run automation script
        working-directory: Eksperimen_SML_Asyifa/preprocessing/preprocessing
        run: |
          python final_automate_asyifa.py

      # Upload hasil preprocessing (sesuai SS)
      - name: Upload clean data
        uses: actions/upload-artifact@v3
        with:
          name: clean-dataset
          path: Eksperimen_SML_Asyifa/preprocessing/preprocessing/namadataset_preprocessing/data_bersih_eksperimen.csv
